@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.navbar-brand {
  color: #E14816 !important;
}

#logoimg {
  height: 20rem;
}

.header {
  width: 100%;
  height: 20rem;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .logo {
  color: #1C991E;
  position: relative;
  left: 5rem;
  top: 1.5rem;
  font-size: 5.5em;
  font-weight: bold;
  -webkit-animation-name: animacionLogo;
          animation-name: animacionLogo;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}

@-webkit-keyframes animacionLogo {
  0% {
    color: #1C991E;
    font-size: 5.5em;
  }
  50% {
    color: #E14816;
    font-size: 6em;
  }
  100% {
    color: #1C991E;
    font-size: 5.5em;
  }
}

@keyframes animacionLogo {
  0% {
    color: #1C991E;
    font-size: 5.5em;
  }
  50% {
    color: #E14816;
    font-size: 6em;
  }
  100% {
    color: #1C991E;
    font-size: 5.5em;
  }
}

.header .logo #vertigo {
  color: #E14816;
}

.main {
  background-image: url(/images/vert-scot.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 100%;
}

.mainLocales {
  background-image: url(/images/vert-scot.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 75%;
}

.mainContacto {
  background-image: url(/images/vert-forest.jpeg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 75%;
  min-height: 680px;
}

.mainContacto h1 {
  margin-bottom: 85px;
}

.novedades {
  margin: 0 auto;
  max-width: 1500px;
  padding: 2em 0;
  background-color: black;
}

.novedades__header {
  margin-top: 50px;
  display: block;
  color: #1C991E;
  padding-left: 3rem;
}

.novedades__carousel img {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  margin: 1rem 1rem;
  width: 380px;
  height: 450px;
}

.novedades__carousel img:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-box-shadow: 1px 1px 3px 1px grey;
          box-shadow: 1px 1px 3px 1px grey;
}

.containerflex {
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categorias {
  max-width: 1500px;
  margin: 0 auto;
}

.categorias h1 {
  margin-top: 50px;
  display: block;
  color: #1C991E;
  padding-left: 3rem;
}

.categorias h2 {
  color: #1C991E;
  margin: 1.5rem 0px;
}

.form {
  max-width: 600px;
  min-height: 680px;
  margin-left: 4rem;
  background-color: black;
}

.form h1 {
  margin-top: 50px;
  display: block;
  color: #1C991E;
}

.form h2 {
  color: #1C991E;
  margin: 1.5rem 0px;
}

.gridBackground {
  background-color: black;
  padding: 0 3rem;
}

.gridBackground__h2 {
  margin: 2rem 0 0 0;
}

.containergrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 20rem;
  grid-gap: 0.5rem;
  border: 1px solid #E14816;
}

.containergrid img {
  margin: 10px 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.containergrid img:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-box-shadow: 1px 1px 3px 1px grey;
          box-shadow: 1px 1px 3px 1px grey;
}

.containergrid2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 30rem;
  grid-gap: 0.5rem;
  border: 1px solid #E14816;
}

.containergrid2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.containergrid2 img:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.uno {
  grid-row: 3 span;
}

.iliada,
.japones,
.antigona,
.zoolander,
.ron,
.cinco {
  grid-row: 2 span;
}

.italiano {
  grid-column: 2 span;
}

.volveralinicio {
  position: -webkit-sticky;
  position: sticky;
  left: 100%;
  bottom: 1rem;
  border: 3px solid #E14816;
  width: 6rem;
  background-color: black;
  border-radius: 5px;
  margin: 1em 1em;
}

.volveralinicio a {
  text-decoration: none;
  color: #1C991E;
  font-size: 30px;
  padding: 0.5rem;
}

.volveralinicio:hover {
  background-color: grey;
}

.volveralinicio:hover a {
  color: black;
}

input:focus,
textarea:focus {
  background-color: #1C991E;
  color: black;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: black;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: black;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: black;
}

input::placeholder,
textarea::placeholder {
  color: black;
}

.locales {
  max-width: 600px;
  margin-left: 4.5rem;
  background-color: black;
}

.locales h1 {
  margin-top: 50px;
  display: block;
  color: #1C991E;
}

.locales h2 {
  color: #1C991E;
  margin: 1.5rem 0px;
}

.footer {
  width: 100%;
  height: 6rem;
  background-color: black;
  padding: 0.5rem 0.25rem;
  font-size: 15px;
}

.footer p {
  margin: 0.4rem;
  color: #1C991E;
}

.footer a {
  text-decoration: none;
  color: #E14816;
}

.novedades__carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  background-color: black;
}

@media screen and (max-width: 992px) {
  #vertigo, #libreria {
    font-size: 0px;
  }
}

@media screen and (max-width: 576px) {
  #logoimg {
    width: 412px;
  }
  .novedades__carousel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .containergrid2, .containergrid {
    grid-auto-rows: 10rem;
  }
  .volveralinicio {
    width: 0px;
    height: 0px;
    margin: 0px;
    border: 0px;
  }
}

@media screen and (max-width: 360px) {
  #logoimg {
    width: 360px;
  }
  .locales {
    margin-left: 5px;
  }
  iframe {
    width: 300px;
  }
  .form {
    margin-left: 5px;
  }
  .novedades__carousel img {
    width: 330px;
  }
}
/*# sourceMappingURL=style.css.map */