.navbar-brand {
    color: $color-secundario !important;
}

#logoimg {
    height: 20rem;
}

.header {
    width: 100%;
    height: 20rem;
    background-color: black;
    display: flex;
    .logo {
        color: $color-principal;
        position: relative;
        left: 5rem;
        top: 30px;  
        font-size: 110px;
        font-weight: bold;
        animation-name: animacionLogo;
        animation-duration: 2.5s;
        animation-timing-function: ease;
        animation-iteration-count: initial;
        
        @keyframes animacionLogo {
            0% {
                color: $color-principal;
                font-size: 110px;
            }
        
            50% {
                color: $color-secundario;
                font-size: 120px;
            }
        
            100% {
                color: $color-principal;
                font-size: 110px;
                
            }
        }
        #vertigo {
            color: $color-secundario;
        }
    }
}



